.gallery-container{
    
    height: 55vh;
    margin-bottom: 2rem;
    filter: brightness(.9);
    position: relative;

    img{

    object-fit: cover;
    width: 100%;
    height: 100%;
 
    }
    
}