.gallery-container{
    background-size: 100%;
    background-position: center;
    height: 55vh;
    margin-bottom: 2rem;
    filter: brightness(.9);
    background-image: url(https://www.oneandonlyresorts.com/-/media/oneandonly/royal-mirage/home-page/oorm-eauzone-3200-x-2000.jpg?v1);
    position: relative;
    
}