.gallery-container{
    background-size: 100%;
    background-position: center;
    // background-image: url(https://images.unsplash.com/photo-1504788482283-123743797899?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
    // // background-image: url(https://images.unsplash.com/photo-1454388683759-ee76c15fee26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    // background-image: url(https://images.unsplash.com/photo-1529316275402-0462fcc4abd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
    height: 45vh;

    margin-bottom: 2rem;
}
