@import "../../utils//styles.scss";

.details-container{
    grid-column: 8/-1;
    background-color: #BCECE0;
    font-size: 1.7rem;
    
    word-spacing: .1rem;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    

    .details-description{
     grid-column: 2/6;
     align-self: center;
     background-color: #BCECE0;
     color: #4C5270;
   
    }
    .details-extras{
    grid-column: 2/6;
    line-height: 2.5rem;
    
    display: flex;
    justify-content: space-between;
    color: #4C5270;

    ul:not(:last-child) {
     
    }
    }

    h1{
        color:#fff;
        text-shadow: var(--shadow-dark);
        margin-bottom: 2rem;
        
    }

}

.ul{
    list-style-type: none;
}

