@import "../../utils//styles.scss";

.details-container{
    grid-column: 8/-1;
    background-color:#fff;
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: .2rem;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    

    .details-description{
     grid-column: 2/6;
     align-self: center;
     background-color: #fff;
     color: #1c1c1c;
   
    }
    .details-extras{
    grid-column: 2/6;
    line-height: 2.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-between;
    color: #1c1c1c;

    ul:not(:last-child) {
     
    }
    }

    h1{
        color:#1c1c1c;
        text-shadow: var(--shadow-dark);
        margin-bottom: 2rem;
        
    }

}

.ul{
    list-style-type: none;
}

