.thumbnail-container{
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    
    img{
        width: 20rem;
        height: 10rem;
        object-fit: cover;
        margin: .4rem;
        cursor: pointer;
        box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
        border-radius: .3rem;
    }

    .active{
        filter: brightness(.45);
    }
}

// .thumbnail-container{
//     display: flex;
//     padding: 1rem;
//     margin-top: 2rem;
    
//     img{
//         width: 20rem;
//         height: 10rem;
//         object-fit: cover;
//         margin: .4rem;
//         cursor: pointer;
//         box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
//         border-radius: .3rem;
//     }

//     .active{
//         filter: brightness(.45);
//     }
// }