.home {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 5rem 0 15rem 0;


    &-title {
        grid-column: 2/6;
        grid-row: 3/4;
        font-size: 4.5rem;
        color: #00234C;
        padding: 2rem;


    }

    &-name {
        padding: 1.5rem;
        grid-column: 1/3;
        font-size: 2.3rem;
        font-weight: 100;
        justify-self: center;
        align-self: center;
        text-transform: uppercase;
    }

    &-subtext {
        grid-row: 4/5;
        grid-column: 3/6;
        font-size: 1.5rem;
        justify-self: center;
        align-self: center;
        background-color: rgb(250, 230, 206);
        padding: 2rem;
        color: #00234C;
    }

    .left-side {
        width: 50%;
        background-color: #f5f5f5;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 1rem;
    }

    .right-side {
        width: 50%;
        position: relative;
        background-image: url("https://images.unsplash.com/photo-1469796466635-455ede028aca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .book {
            position: absolute;
            top: 60%;
            left: 0%;
            font-size: 3.5rem;
            font-weight: 500;
            padding: 3.3rem;
            background-color: #1c1c1c;
            color: white;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                transition: transform .5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
            }
        }
    }
}

@media screen and (max-width:1500px) {
    .home {
        height: 70vh;
        margin: 0;

        .right-side {}
    }
}

@media screen and (max-width:1150px) {
    .home {
        height: 70vh;

        &-subtext {
            grid-column: 2/6;
        }

        .right-side {}
    }
}


@media screen and (max-width:950px) {
    .home {
        height: 70vh;

        &-subtext {
            grid-column: 2/6;
        }

        &-title {
            font-size: 3.5rem;
            padding: 0;
        }

        .right-side {
            .book {
                font-size: 2.5rem;
                padding: 2.5rem;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .home {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-bottom: 10rem;

        .left-side {
            width: 100%;
            grid-template-rows: repeat(4, 1fr);
            text-align: center;

            .home-title {

                grid-row: 2/3;
            }

            .home-subtext {
                grid-row: 3/4;
            }
        }

        .right-side {
            background-image:none;
            
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .book {
                margin-top: 3rem;
                position:relative;
             
            }
        }


    }
}

@media screen and (max-width:550px) {
    .home {
        .left-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 45vh;

            .home-title {
                padding-bottom: 2.5rem;
                font-size: 2.5rem;
            }

            .home-subtext {}
        }



    }
}