.home-container{
    
    
    .home{
        display: flex;
        height: 100vh;
        width: 100%;
        padding: 3rem;
        

        &-title{
            grid-column: 2/6;
            grid-row: 3/4;
            font-size: 4.5rem;
            color: #00234C;
            padding: 2rem;
            
            
        }

        &-name{
            padding:1.5rem;
            grid-column: 1/3;
            font-size: 2.3rem;
            font-weight: 100;
            justify-self: center;
            align-self: center;            
            text-transform: uppercase;
        }
        &-subtext{
            grid-row: 4/5;
            grid-column: 3/6;
            font-size: 1.5rem;
            justify-self: center;
            align-self: center;
            background-color: rgb(250, 230, 206);
            padding: 2rem;
            color:#00234C;
        }
       
        .left-side{
            width: 50%;
            background-color: rgb(212, 245, 245);
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(6,1fr);
            grid-row-gap: 1rem;
        }
        .right-side{
            width: 50%;
            position: relative;
    
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .book{
                position: absolute;
                top:60%;
                left: 0%;
                font-size: 3.5rem;
                font-weight: 500;
                padding: 3.3rem;
                background-color: #00234C;
                color: white;
                cursor: pointer;

                &:hover{
                    transform: scale(1.05);
                    transition: transform .5s cubic-bezier(0.25,0.45,0.45,0.95); 
                }
            }
        }
    }
}

