.room-container{

     .room{  
         height: 100vh;
        display: grid;
        grid-template-columns:repeat(12,1fr);
        background-color: wheat;
       
        }
}


// .room-container{

    
//     .room{  
//        display: flex;
//        height: 100vh;

//        }
// }