@import "../../utils//styles.scss";

.carousel-container{

  grid-column:1/8; 
  align-self: center;
  margin:0 2rem;

    .carousel{
    display: flex;
    align-items: center;
    }
}

