.App{
    overflow: hidden;
    font-family: "freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
}

.margin-wrapper{ 
    padding-top: 6rem;
}

@media screen and (max-width:850px){
    .margin-wrapper{ 
        padding-top: 0;
    }
}