.slide-container {
  width: 70%;
  margin: auto; }


h3 {
  text-align: center; }
.nav{
  
  display: none;
}

.indicators{
  display: none;
}

.each-slide > div {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 50rem;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
  
}
.each-slide > div .spans{
  opacity: .8;
  color: black;
  border-radius: 3px;
 
}

.each-fade {
  display: flex;
 
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.react-slideshow-container + div.indicators {
 position: absolute;
 color: #fff;
 top:50vh;  
 left:50%;
 transform: translate(-50%,-50%);
}

.react-slideshow-container + div.indicators > div.active{
  background-color: #fff;
}

.react-slideshow-container .nav {
  display: none;
}